
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: #E9C46A;
    border: 1.5px solid black;
    align-items: center;
    justify-content: space-evenly;
}

.slider-container {
    display: flex;
    flex-direction: columns;
    width: 100%;
    height: 5rem;
    background-color: #E9C46A;
    border: 1.5px solid black;
    align-items: center;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: #264653;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.button {
    width: 6rem;
    height: 4rem;
}

.switch {
    vertical-align: center;
    margin-left: 4px;
}

.legendCur {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #10e810;
    border: 1px solid black;
}

.legendCur2 {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #02aaa2;
    border: 1px solid black;
}

.legendMag {
    float: left;
    height: 12px;
    width: 12px;
    background-color: red;
    border: 1px solid black;
}

.legendF {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #e80be4;
    border: 1px solid black;
}

.legendIndF {
    float: left;
    height: 12px;
    width: 12px;
    background-color: #f9840e;
    border: 1px solid black;
}

.child-style {
    display: flex;
    vertical-align: middle;
    width: inherit;
    justify-content: center;
    flex-direction: row;
}

.child-style-2 {
    display: flex;
    vertical-align: middle;
    width: 45%;
    justify-content: center;
    flex-direction: row;
}

.arrow-button {
    width: 3rem;
    height: 3rem;
}